## 파이썬 List, Dictionary의 반복문에서의 기본 메커니즘.

In [1]:
# multi assign
a, b = 1, 2
print(a, b)

a, b, c = [2, 3, 4]
print(a, b, c)

1 2
2 3 4

In [5]:
def func1():
    return 1, 2

def func2():  
    return [1, 2]

a, b = func1()
c, d = func2()
print(a, b)
print(c, d)

1 2
1 2

In [8]:
members = [
    ['홍길동', 'A회사', '대구'],
    ['일지매', 'A회사', '서울'],
    ['신짱구', 'C회사', '부산'],
]

for i in range(3):
    print(members[i])

print()

for m in members:
    print(m[0], m[1], m[2])

print()

for name, company, stay in members:
    print(name, company, stay)

['홍길동', 'A회사', '대구']
['일지매', 'A회사', '서울']
['신짱구', 'C회사', '부산']

홍길동 A회사 대구
일지매 A회사 서울
신짱구 C회사 부산

홍길동 A회사 대구
일지매 A회사 서울
신짱구 C회사 부산

In [9]:
animals = {'cat': 1, 'dog': 2, 'sheep': 4, 'fish': 2}

for k, v in animals.items():
    print(k, v)

cat 1
dog 2
sheep 4
fish 2

In [11]:
animals = ['cat', 'dog', 'sheep', 'fish']

for i in range(4):
    print(i, animals[i])

print()

for i, e in enumerate(animals):
    print(i, e)

0 cat
1 dog
2 sheep
3 fish

0 cat
1 dog
2 sheep
3 fish

In [13]:
names = ['홍길동', '일지매', '신짱구']
company = ['A회사', 'B회사', 'C회사']

for i in range(len(names)):
    print(names[i], company[i])

print()

for n, c in zip(names, company):
    print(n, c)

홍길동 A회사
일지매 B회사
신짱구 C회사

홍길동 A회사
일지매 B회사
신짱구 C회사